<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% results.forEach(function(post) {%>
        <li>
            <p><%= post.message %></p>
            <p>Post created by ... <%= post.PostUserModel %> at <%= post.createdAt %></p>
            <img 
                src="<%= post.imageUrl %>"
                width="60"
                height="60"
            >  
            <p>Post liked by:  <%= post.likedBy.PostUserModel %> </p>  
            <p>Post disliked by:  <%= post.dislikedBy.PostUserModel %> </p>  
        </li>
        
    <% }); %>
</ol>
</body>
<%- include('_footer') -%>
</html>