<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>
<h1 class="title">Posts</h1>
<button><a href="/post/create" class="button">New Post</a></button>

<ol class="postContainer"
    <% postList.results.forEach(function(post) {%> 
        <li class>
            <figure class="imageContainer">
                <img src="<%= post.imageUrl %>" width="500" alt="Photo posted by user">
            </figure>
            <h3><%= post.message %></h3>
            <h4>Posted by <%= post.postedBy.name %><a href="/users/<%= post.postedBy.name%>"></a></h4>
            <p class="italics">Created on <%=format(post.createdAt, "dd-MM-yyyy HH:mm:ss") %></p>
            <h4> Post liked by:</h4>
            <p> <% post.likedBy.forEach(function(user) {%> 
                        <%= user.name %>,
                        <% }); %> 
            </p>
    <% }); %>
</ol>
<nav class="navigationLinks">
    <%if (postList.previous) { %>
        <a href="<%= postList.previous %>">Previous</a>
    <% } %>
    <%if (postList.next) { %>
        <a href="<%= postList.next %>">Next</a>
    <% } %>
</nav>

</body>
<%- include('_footer') -%>
</html>

