<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>
  <body>
    <h1 class="title">All posts</h1>
    <ul class="postContainer">
      <% postList.results.forEach(function(post) {%>
      <li class="individual-posts">
        <div class="imageContainer">
          <img
            src="<%= post.imageUrl %>"
            width="500"
            alt="Photo posted by user"
          />
        </div>
        <h3><%= post.message %></h3>
        <p class="post-author">
          Posted by
          <a href="/users/<%= post.postedBy.id %>/">
            <%= post.postedBy.name %></a
          >
        </p>
        <p class="secondary-information">
          Created on <%=format(post.createdAt, "dd-MM-yyyy HH:mm:ss") %>
        </p>
        <p class="secondary-information">Post ID: <%= post.id %></p>
        <p><%= post.likedBy.length %> likes</p>

        <p>
          <button class="like-button" onclick="likePost(<%= post.id %>)">
            Like &#128578;
          </button>
        </p>
      </li>
      <% }); %>
    </ul>

    <nav class="navigation-bar">
      <%if (postList.previous) { %>
      <button class="nav-button">
        <a href="<%= postList.previous %>">&#9664;&#65039; Previous</a>
      </button>
      <br />
      <% } %> <%if (postList.next) { %>
      <button class="nav-button">
        <a href="<%= postList.next %>">Next &#9654;&#65039;</a>
      </button>
      <% } %>
    </nav>
  </body>
  <%- include('_footer') -%>
</html>
