<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% results.forEach(function(post) {%>
        <li>
            <h2><%= post.postedBy.name %></h2>
            <p><%= post.message %></p>
           

            <figure>
                <img src="<%= post.imageUrl %>" width="60" height="60" alt="Photo posted by user">
            </figure>
            <p><%= post.createdAt %></p>

            <section>
                <p> Post liked by: </p>
                <p> <% post.likedBy.forEach(function(user) {%> 
                    <%= user.name %>
                    <%}); %> 
                </p>
            </section>

            <section>
                <p> Post disliked by: </p>
                <p> <% post.dislikedBy.forEach(function(user) {%> 
                    <%= user.name %>
                    <%}); %> 
                </p>
            </section>
        </li>
        
    <% }); %>
</ol>

<%if (next) { %>
<a href="<%= next %>">Next</a>
<% } %> <%if (previous) { %>
<a href="<%= previous %>">Previous</a>
<% } %>

</body>
<%- include('_footer') -%>
</html>